@media only screen and (max-width:1377px) {
    .swiper {
        width: 180px;
        height: 308px;
        left: -70px;
        top: 25px;
    }

    .right {
        width: 390px;
        height: 413px;
        background-image: url(./img/phone.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    iframe {
        width: 154px;
        height: 308px;
        border-radius: 0 0 20px 20px;
    }

    .swiper-slide::after {
        width: 55px;
        height: 202px;


    }

    .swiper-slide::before {
        width: 55px;
        height: 202px;

    }

    .big-text {
        font-size: 40px;
        line-height: 64px;
        margin-bottom: 15px;
    }

    .small-text {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 60px;
    }

    .btn {
        width: 200px;
        height: 60px;
        font-size: 16px;
        line-height: 24px;
    }

    @media only screen and (max-width:1195px) {
        .swiper {
            width: 122px;
            height: 244px;
            left: -55px;
            top: 18px;

        }

        .right {
            width: 290px;
            height: 353px;
            background-image: url(./img/phone.png);
            background-size: contain;
            background-repeat: no-repeat;
        }

        iframe {
            width: 122px;
            height: 244px;
            border-radius: 0 0 13px 15px;
        }

        .swiper-slide::after {
            width: 52px;
            height: 150px;

        }

        .swiper-slide::before {
            width: 52px;
            height: 150px;

        }

        .big-text {
            font-size: 30px;
            line-height: 38px;
            margin-bottom: 15px;
        }

        .small-text {
            font-size: 13px;
            line-height: 14px;
            margin-bottom: 60px;
        }

        .btn {
            width: 200px;
            height: 60px;
            font-size: 16px;
            line-height: 24px;
        }

        .big-box {
            padding: 16px 100px;

        }

    }

    @media only screen and (max-width:812px) {

        .swiper {
            width: 78px;
            height: 160px;
            left: -36px;
            top: 14px;

        }

        iframe {
            width: 78px;
            height: 160px;
            border-radius: 0 0 13px 13px;
        }

        .swiper-slide::after {
            width: 55px;
            height: 80px;


        }

        .swiper-slide::before {
            width: 55px;
            height: 80px;

        }

        .right {
            width: 190px;
            height: 253px;
        }

        .big-text {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 15px;
        }

        .small-text {
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 40px;
        }

        .btn {
            width: 150px;
            height: 40px;
            font-size: 14px;
            line-height: 20px;
        }

        .big-box {
            padding: 16px 50px;

        }


    }

    @media only screen and (max-width:717px) {
        .right {
            width: 180px;
            height: 253px;
        }

        .big-text {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 15px;
        }

        .small-text {
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 40px;
        }

        .btn {
            width: 150px;
            height: 40px;
            font-size: 14px;
            line-height: 20px;
        }

        .big-box {
            padding: 16px 50px;

        }

        .swiper {
            width: 75px;
            height: 150px;
            left: -34px;
            top: 12px;

        }

        iframe {
            width: 75px;
            height: 150px;
            border-radius: 0 0 10px 10px;
        }

        .swiper-slide::after {
            width: 30px;
            height: 80px;


        }

        .swiper-slide::before {
            width: 30px;
            height: 80px;

        }


    }

    @media only screen and (max-width:554px) {
        .right {
            width: 150px;
            height: 153px;
        }
        .links a {
            margin-right: 20px;
            font-size: 12px;
            line-height: 20px;
        }
        .center {
            padding-top: 50px;
            display: flex;
            justify-content: space-between;
        }
        .head img{
            width: 50px;
        }
        .big-text {
            font-size: 15px;
            line-height: 18px;
            margin-bottom: 8px;
        }

        .small-text {
            font-size: 9px;
            line-height: 14px;
            margin-bottom: 20px;
        }

        .btn {
            width: 100px;
            height: 30px;
            font-size: 12px;
            line-height: 10px;
        }

        .big-box {
            padding: 16px 50px;

        }

        .swiper {
            width: 60px;
            height: 110px;
            left: -34px;
            top: 12px;

        }

        iframe {
            width: 60px;
            height: 110px;
            border-radius: 0 0 10px 10px;
        }

        .swiper-slide::after {
            width: 30px;
            height: 80px;


        }

        .swiper-slide::before {
            width: 30px;
            height: 80px;

        }
    }